<div class="container ">
  <div class="row">
      <div class="col-xl-12">
      <div class="card">
        <div class="card-header">Search Results</div>
      </div>
    </div>
      <div class="col-xl-12">
        <div class="card">
          <div class="card-header">Car Info</div>
          <div class="card-body">
            <label class="card-text">Registration number: {{car.regNumber}}</label><br/>
            <label class="card-text">Vehicle Description: {{car.vehicleDescription}}</label><br/>
            <label class="card-text">Previously Seized: {{car.previouslySeized}}</label>
          </div>
        </div>
      </div>
      <div class="col-xl-12">
        <div class="card">
            <div class="card-header">Previous Sighting</div>
            <div class="card-body">
              <label class="card-text">Date: {{car.sighting.dateSighted}}</label><br/>
              <label class="card-text">Area: {{car.sighting.locatonAreaDescription}}</label><br/>
              <label class="card-text">Address: {{car.sighting.locationAddressDescription}}</label><br/>
              <label class="card-text">Number: {{car.sighting.locationNumberDescription}}</label><br/>
              <label class="card-text">Sighting Source: {{car.sighting.sightingSource}}</label><br/>
              <label class="card-text">Address: {{car.sighting.locationAddressDescription}}</label>
              <div class="bottom"></div>
              <label class="card-text">Date: {{car.sighting.dateSighted}}</label><br/>
              <label class="card-text">Area: {{car.sighting.locatonAreaDescription}}</label><br/>
              <label class="card-text">Address: {{car.sighting.locationAddressDescription}}</label><br/>
              <label class="card-text">Number: {{car.sighting.locationNumberDescription}}</label><br/>
              <label class="card-text">Sighting Source: {{car.sighting.sightingSource}}</label><br/>
              <label class="card-text">Address: {{car.sighting.locationAddressDescription}}</label>
              <div class="bottom"></div>
              <label class="card-text">Date: {{car.sighting.dateSighted}}</label><br/>
              <label class="card-text">Area: {{car.sighting.locatonAreaDescription}}</label><br/>
              <label class="card-text">Address: {{car.sighting.locationAddressDescription}}</label><br/>
              <label class="card-text">Number: {{car.sighting.locationNumberDescription}}</label><br/>
              <label class="card-text">Sighting Source: {{car.sighting.sightingSource}}</label><br/>
              <label class="card-text">Address: {{car.sighting.locationAddressDescription}}</label>
              <div class="bottom"></div>
            </div>
          </div>
        </div>
     
      <div class="col-xl-12">
          <div class="card">
            <div class="card-header">Car Info</div>
            <div class="card-body">
              <label class="card-text">Registration number: {{car.regNumber}}</label><br/>
              <label class="card-text">Vehicle Description: {{car.vehicleDescription}}</label><br/>
              <label class="card-text">Previously Seized: {{car.previouslySeized}}</label>
            </div>
          </div>
        </div>
      </div>
</div>